body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.device {
    border-radius: 0.5rem;
    background: #fff;
}

.sensor {
    border-radius: 0.5rem;
    background: #fff;
}

.btn-primary {
    margin-left: 85%;
}

a {
    color: white;
    text-decoration: none;
}

